.contactoTexto {
    text-align: center;
    padding-top: 50px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #4facfe;
    /* Chrome 10-25,
    Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(79, 172, 254,
                1), rgba(0, 242, 254, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
    Safari 7+ */
    background: linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0,
                242, 254, 1))
}

.recuadroTestimonios {
    background-color: #f0f2f5;
}

.btn {
    margin-top: 10px;
    background-color: rgb(255, 60, 0);
    border-color: rgb(255, 60, 0);
}

.btn:hover {
    background-color: rgba(255, 60, 0, 0.623);
    border-color: rgba(255, 60, 0, 0.623);
}