/*.col {
    padding-left: 160px;

}*/

.comprasRealizadas {
    margin-left: 41.5%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.perfilDato {
    font-size: 24px;
    margin-bottom: 20px;
    color: orangered;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.perfilDato2 {
    font-size: 22px;
    margin-bottom: 70px;
    font-weight: bold;
    text-align: center;
}

.editarPerfil {
    align-items: center;
    margin-bottom: 40px;
    margin-inline: 20%;
}

.cambiarContraseña{
   
    margin-bottom: 40px;

    display: flex;
}

.formEditarPerfil {
    /*   padding-inline: 80px;*/
    margin-left: -60px;
    margin-right: -60px;
    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-width: 5px;
    border-color: orangered;
    border-radius: 50px;
    margin-top: 50px;
}

.formCambiarContraseña {
    /*   padding-inline: 80px;*/

    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-width: 5px;
    border-color: orangered;
    border-radius: 50px;
    margin-top: 50px;
}

.opcionesPerfil {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-inline: 120px;
    justify-content: space-between;
}

.botonEditarPerfil {
    display: flex;
    justify-content: center;
    padding-inline: 30px;
    margin-top: 20px;
}

.pickerPerfil {
    /*padding-right: 680px;
    width: 100%;*/
    margin-right: 290px;
    height: 38px;
}

/*.pruebaCalen{
background-color: blue;
}*/

.datosPerfilContainer {
    border-style: solid;
    border-width: 5px;
    border-color: orangered;
    border-radius: 50px;
    min-width: 400px;
}

.labelEditarPerfil {
    color: orangered;
    font-weight: bold;
}