.contacto{
    margin-bottom: 100px;
}

.title{
    color: orangered;
    text-transform: uppercase;
 }

 .formContacto{
    margin-left: 5%;
    margin-right: 5%;
    padding-inline: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: orangered;
    border-radius: 50px;
}

.form-control{
    min-width: 100px;
}

.botonEnvio{
    margin-inline: 20%;
    padding-top: 20px;
    min-width: 70px;
}

.btn {
    margin-top: 10px;
    background-color: rgb(255, 60, 0);
    border-color: rgb(255, 60, 0);
}

.btn:hover {
    background-color: rgba(255, 60, 0, 0.623);
    border-color: rgba(255, 60, 0, 0.623);
}

.iconos ul li i{
    color: orangered;
}

.iconos ul li p{
    color: orangered;
}
